.top-peek{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.top-peek-text{
    font-size: 2.875rem;
    line-height: 3.125rem;
    letter-spacing: -1.2105px;
    font-weight: 700;
    padding-left: 0.5rem;
}

.customize-build{
    display: grid;
    grid-template-columns: auto auto;
}

.customize, .build{
    margin: 0.5rem;
    background-color: #f6f5f4;
    border-right: 2px solid #f6f5f4;
    border-radius: 1rem;
    text-align: left;
    padding: 2rem 0rem 0rem 2rem;
}


.customize-build-image{
    padding-top: 2.5rem;
    padding-left: 1rem;
    height: 24rem;
    width: 28rem;
}

.customize-build-title{
    padding-right: 2rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    vertical-align: baseline;
    letter-spacing: -0.1296px;
    font-weight: 700;
}

.customize-build-desc{
    padding-right: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.008px;
    font-weight: 400;
}

.meta-lab, .match-group{
    display: flex;
    flex-direction: column;
    margin: 0rem 10rem;
}

.meta-lab{
    margin-top: 6rem;
}

.match-group{
    margin-top: 1.5rem;
}

.logo-person{
    display: flex;
    padding-top: 0.5rem;
}

.metalab-quote, .match-group-quote{
    font-family: 'EB Garamond', serif;
    font-size: 1.875rem;
    line-height: 2.125rem;
    letter-spacing: -0.624px;
    font-weight: 500;
    text-align: center;
}

.match-group-quote{
    padding: 0rem 4rem;
}

.metalab-logo, .match-group-logo{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    margin-right: 0.5rem;
}

.match-group-logo{
    height: 2rem;
}

.metalab-exec, .match-group-exec{
    text-align: left;
}

.metalab-exec-name, .match-group-exec-name{
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.06075px;
    font-weight: 700;
    text-align: start;
}

.metalab-exec-designation, .match-group-exec-designation{
    font-size: 0.875rem;
    line-height: 1.125rem;
    vertical-align: baseline;
    letter-spacing: 0.10125px;
    font-weight: 400;
    text-align: start;
}